@model Logistics.Models.EditUserRole
@{
    ViewBag.Title = "Edit Users Role";
}
<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <b>User Name: @Model.Email</b>
    <br />
    <b>User Role: @Model.UserRole</b>
    <br />
    <hr />

    @using (Html.BeginForm("ChangeRole", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h4>Change Role</h4>
        <p>Users Role: @Html.DropDownListFor(m => m.RoleList, ViewBag.allRolesList as SelectList, "-- Change Role --")</p>
        
        <input type="hidden" name="userid" value="@Model.Email" />

        <button type="submit" class="btn btn-success">Save</button>
    }

</div>