@model IEnumerable<Logistics.Models.ManageUsersViewModel> 
@{
    ViewBag.Title = "Manage Users";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Edit users and roles</h4>
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Role
            </th>
            <th>
                Edit
            </th>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.Role
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  }) |
                    @Html.ActionLink("Delete", "Delete", new {  })
                </td>
            </tr>
        }

    </table>


</div>